### Used Libraries<a class="anchor" id="chapter1"></a>

In [1]:
#!pip install psycopg2

In [2]:
import pandas as pd
from sqlalchemy import create_engine
import psycopg2

### Access to the DB <a class="anchor" id="chapter2"></a>

In [3]:
db_config = {'user': 'practicum_student',         # username
             'pwd': 's65BlTKV3faNIGhmvJVzOqhs', # password
             'host': 'rc1b-wcoijxj3yxfsf3fs.mdb.yandexcloud.net',
             'port': 6432,              # connection port
             'db': 'data-analyst-eth-payouts-db'}          # the name of the database

connection_string = 'postgresql://{}:{}@{}:{}/{}'.format(db_config['user'],
                                                                     db_config['pwd'],
                                                                       db_config['host'],
                                                                       db_config['port'],
                                                                       db_config['db'])

engine = create_engine(connection_string, connect_args={'sslmode':'require'})

#  Table Queries <a class="anchor" id="chapter3"></a>

function that takes a query and return dataframe for general use

In [4]:
def queryResult(q):
    return pd.io.sql.read_sql(q, con = engine)

Get table names

In [5]:
engine.table_names()

['payout', 'plan']

A query example

In [6]:
query = '''
    SELECT
        *
    FROM 
        payout


'''
df=queryResult(query)

In [8]:
df.head()

   user_id                                 eth_address       date   payout
0     1005  0x4f9117b14426ac44ead4eaef0223830cb16bdb07 2020-07-27  1.68113
1     1005  0xccbe3f17a61f0e8ef05b04dc0c3f510522df6cc8 2020-09-04  2.27831
2     1020  0x2e22950c26899fd0dc0c593b147f6beb7f1c0c37 2020-11-11  0.25199
3     1020  0x2081974d67307ec737dd13c60b524ca4d644ec1d 2020-09-30  2.21076
4     1021  0x370ff36440a36825279db341c6b85bc0371e7c3f 2020-12-10  1.47999